<!DOCTYPE html>
<head>
    <title>serve staticdocs nodejs expressjs</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    {{>header}}
    <img src="./img/robot.png" alt="A pixel Robot">
    <p>Created by {{name}}</p>
</body>
</html>