<!DOCTYPE html>
<head>
    <title>serve staticdocs nodejs expressjs</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    {{>header}}
    <h1>Help</h1>
    <p>{{helpText}}</p>
</body>
</html>